@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&family=Victor+Mono:wght@700&display=swap');

#root {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: #D9D9D9;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

header{
  width: 100%
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-section {

}

.categories-section {


}

.recommendations-section {

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



@media (min-width: 1366px){
  body{

  }
}



