.gallery {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
}
.mainPhotoArrowContainer{
  display: flex;
  align-items: center;
}
.mainPhotoContainer {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 20px; */
}

.mainPhoto {
  width: 40vw;
  height: auto;
  margin-top: 15px; 
  border: 2px solid #898989;
}

.photosContainer {
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap: 40px; /* Espacio entre las imágenes */
  align-items: center;
  justify-items: center;
  padding: 0;
  margin-top:20px;
  list-style-type: none;
}

/* .photos {
   margin: 5px;  
} */
  /* Espacio entre las imágenes */

.photo{
  border: 2px solid #898989;
}

.photos img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin distorsionar */
}
.arrowIcons{
  width: 40px;
  height: auto;
}

.zoomed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.zoomed-photo {
  flex: 1;
  object-fit: contain;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.zoomed-photos-container{
  display: none;
}
.arrow.zoom-arrow {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  cursor: pointer;
}

.close-zoom {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1001;
}
.zoomCross{
  width: 30px;
  height: auto;
  padding: 10px;
}

@media (max-width: 920px){   
.photosContainer{
  grid-gap: 20px;
}
}

@media (max-width: 660px){

}

 @media (max-width: 460px){   
  .mainPhotoContainer {
    width: 80vw;
  }  
  .mainPhoto {
    width: 80vw;
  }  
  .photosContainer {
    width: 80vw;
  }
  } 