@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 58px;
    position: absolute;
    bottom: 0;
    box-sizing: content-box;
}

.footer p {
    color: white;
}

.redes,
.imgCopyright {
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 10px;
    margin: 2px;
}

.redes1 {
    padding-right: 30px;
}

.izqFooter {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

@media (max-width: 460px) {
    .redes,
    .imgCopyright {
        height: 20px;
        width: 20px;
    }

    .imgCopyright {
        height: 30px;
        width: 30px;
    }

    .izqFooter {
        padding-left: 10px;
    }

    .redes1 {
        padding-right: 10px;
    }
}

/* Asegura que el pie de página esté al fondo de la página cuando no hay scroll */
body {
    min-height: 100vh;
    position: relative;
}

/* Añade espacio para el pie de página cuando no hay scroll */
body::before {
    height: 50px; /* Altura del pie de página */
    display: block;
}
