/* InsertVehicle.css */

/* Estilos para el contenedor principal del formulario */
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 50px 0 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

/* Estilos para el título */
.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para el contenido del formulario */
.form-content {
  text-align: left;
}

/* Estilos para las etiquetas (labels) */
.label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* Estilos para los campos de entrada de texto y número */
.input-text,
.input-number,
.textarea {
  width: 100%;
  padding: 10px;
  margin-top: 15px; /* Agrega más margen superior */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para el área de texto (textarea) */
.textarea {
  resize: none;
}

/* Estilos para el botón de envío */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

/* Estilos para el mensaje de error */
.error-message {
  color: #ff0000;
  margin-top: 10px;
}

/* Estilos para el título "Details:" */
.details-label {
  margin-bottom: 15px; /* Ajusta según tus preferencias */
}

/* Estilos para el campo Details */
.details-label .MuiFormGroup-root {
  margin-top: 10px; /* Ajusta según tus preferencias */
}


/* Estilos para el campo Category */
.category-label {
  margin-top: 20px; /* Agrega un margen superior mayor */
  max-width: 300px; /* Establece un ancho máximo deseado en píxeles */
}

/* Estilos para el campo Details */
.details-label {
  margin-top: 20px; /* Agrega un margen superior mayor */
}

.success-message {
  color: green;
}
